.menu-link{
    color: #97929A;
    font-weight: 500;
    text-decoration: none;
    text-transform: lowercase;
}
.menu-item .ativo{
    color: #333;
}
.menu-link:hover{
    text-decoration: underline;
}