.menu__lista{
    list-style: none;
}

/* MEDIA QUERIES */

/* CELULAR */
@media screen and (min-width: 0px) {
    .menu__lista{
        background-color: #F8F9FA;
        display: none;
        flex-direction: column;
        height: 20vh;
        left: 0vw;
        padding: 2rem 0rem 0rem 0rem;
        position: absolute;
        text-align: center;
        top: 3.45rem;
        width: 100vw;
        z-index: 100;
    }
}
/* COMPUTADOR */
@media screen and (min-width: 768px) {
    .menu__lista{
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 0vh;
        padding: 0rem;
        position: static;
        width: auto;
    }
}