.footer__icons{
    align-items: center;
    background-color: #8D0606;
    display: flex;
    justify-content: center;
    transition: background-color 0.5s ease;
}
.fa-facebook, .fa-twitter{
    color: #FFF;
}
.footer__icons:hover{
    background-color: #c40d0d;
    cursor: pointer;
}
@media screen and (min-width: 0px) {
    .footer__icons{
        border-radius: 7px;
        margin-left: 0.5rem;
        height: 3.0rem;
        width: 3.0rem;
    }
}
@media screen and (min-width: 768px) {
    .footer__icons{
        border-radius: 15px;
        margin-left: 1rem;
        height: 3.625rem;
        width: 3.625rem;
    }
}