.footer__icons{
    align-items: center;
    background-color: #8D0606;
    border-radius: 15px;
    display: flex;
    height: 3.625rem;
    justify-content: center;
    margin-left: 1rem;
    transition: background-color 0.5s ease;
    width: 3.625rem;
}
.fa-facebook, .fa-twitter{
    color: #FFF;
}
.footer__icons:hover{
    background-color: #c40d0d;
    cursor: pointer;
}