.receita__botao{
    height: 2.313rem;
    width: 7.188rem;
    background-color: #8D0606;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    transition: 0.5s;
}
.receita__botao:hover{
    background-color: #c40d0d;
}
.receita__botao:active{
    background-color: #ff0000;
}