.receita__descricao{
    font-weight: 400;
    text-align: left;
}
@media screen and (min-width: 0px) {
    .receita__descricao{
        font-size: 1.0rem;
    }
}
@media screen and (min-width: 768px) {
    .receita__descricao{
        font-size: 1.188rem;
    }
}