.receita{
    background-color: #FFF;
    border-radius: 15px;
    border: 1px solid #C4C4C4;
    margin: 2rem 4rem;
    transition: width 1s ease;
    width: 17.875rem;
}
.receita:hover{
    width: 20rem;
}